@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --primary: #ff4d00;
  --primary-dark: #c53b00;
  --dark: #000;
  --dark-100: #181818;
  --grey: #595959;
  --contrast: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  text-decoration: none;
  transition-duration: 0.3s;
}
body {
  background: #262626;
  transition-duration: 0.3s;
}
.container {
  max-width: 1160px;
  margin: auto;
  padding: 0 40px;
}
/* Кнопка слайдер */
#scrollToTopBtn {
  border-radius: 100%;
  display: none; /* Скрываем кнопку по умолчанию */
  position: fixed; /* Фиксированное позиционирование */
  bottom: 20px; /* Отступ снизу */
  right: 10%; /* Отступ справа */
  z-index: 1000; /* Высокий z-index, чтобы кнопка была поверх других элементов */
  border: none; /* Убираем рамку */
  cursor: pointer; /* Курсор в виде указателя */
  background: none;
}

#scrollToTopBtn:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary); /* Цвет фона при наведении */
}

/* Шапка сайта */
header {
  padding: 20px 0;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.head li {
  list-style: none;
}

header a {
  text-decoration: none;
}
.logo_top {
  border-radius: 12px;
  padding: 10px;
  width: 193px;
  height: 50px;
  background: var(--primary);
  font-weight: 600;
  font-size: 29px;
  color: var(--dark);
  text-align: center;
}
/* Навигация */
nav {
  display: flex;
  justify-content: end;
}
nav > ul {
  display: flex;
  gap: 22px;
}
nav a {
  font-weight: 400;
  font-size: 17px;
  color: var(--contrast);
}
nav a:hover {
  font-weight: 400;
  font-size: 17px;
  color: var(--primary);
}
nav a:active {
  font-weight: 800;
  font-size: 17px;
  color: var(--primary);
}
/* Сообщение при копировании */
.message {
  color: var(--primary); /* Цвет сообщения */
  font-weight: bold; /* Жирный текст */
  display: none;
  /* Скрываем сообщение по умолчанию */
  position: fixed;
  top: 16px;
  z-index: 1000;
}
/* ------------------------------ */
/* Линия внизу шапки  */
.line_header {
  max-width: 1160px;
  height: 2px;
  margin: auto;
  background: var(--contrast);
}
/* Адаптивность навигации  пот планшет*/
@media (max-width: 1160px) {
  .container {
    max-width: 704px;
  }
  .logo_top {
    width: 90px;
    height: 45px;
    font-size: 20px;
  }
  nav a {
    font-size: 12px;
  }
  nav a:hover {
    font-size: 12px;
  }
  nav a:active {
    font-size: 12px;
  }
  .message {
    font-size: 11px;
  }
  .line_header {
    max-width: 768px;
  }
}

/* -------------------------------- */
/* -------------------------------- */

/* Первая секция на главном экране */
/* Связь информативной части с декоративной */
.top_grid {
  max-width: 1160px;
  margin: auto;
  display: grid;
  grid-template: 1/2;
  gap: 27px;
}

/* Текст */
.top_glav_disp {
  height: 402px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-row: 1/2;
  grid-column: 1/2;
}
h1 {
  font-weight: 500;
  font-size: 45px;
  text-transform: uppercase;
  color: var(--contrast);
  margin-bottom: 23px;
  max-width: 620px;
}
.top_glav_disp_p {
  font-weight: 400;
  font-size: 28px;
  color: var(--contrast);
  max-width: 560px;
}
/* ---------------------- */
/* Форма */
.form1 {
  margin-top: 39px;
  display: flex;
  gap: 0;
}
.form1 > input {
  border: 1px solid #cfcfcf;
  border-right: 0px;
  border-radius: 51px 0 0 51px;
  padding: 0px 0px 0px 43px;
  width: 360px;
  height: 81px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.47);
  background: var(--dark);
  color: var(--contrast);
  font-weight: 400;
  font-size: 28px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.form1 > input:hover {
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  cursor: pointer;
}
.form1 > input:hover::placeholder {
  color: var(--contrast);
}
.form1 input::placeholder {
  font-weight: 400;
  font-size: 28px;
  color: #464646;
}
.form1 > button {
  border: 0;
  border-radius: 0 51px 51px 0;
  width: 263px;
  height: 81px;
  /* box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.3); */
  background: var(--primary);
  font-weight: 500;
  font-size: 19px;
  text-transform: uppercase;
  color: var(--dark);
}
.form1 > button:hover {
  background: var(--dark-100);
  color: var(--contrast);
  border: 1px solid #cfcfcf;
  border-left: 0px;
  cursor: pointer;
}
/* ---------------- */
/* ------------------------------------------------ */
/* Иконки на главном экране */
.top_perv_icons {
  display: grid;
  grid-template:
    58px 64px 37px 98px 38px 23px 51px 35px /
    129px 51px 18px 35px 62px 24px 37px 61px 47px 17px 98px;
  grid-row: 1/2;
  grid-column: 2/3;
}
.top_img1 {
  grid-row: 1/6;
  grid-column: 1/6;
}
.top_rec1 {
  border-radius: 7px;
  width: 37px;
  height: 37px;
  background: #ff4c00;
  grid-row: 3/4;
  grid-column: 7/8;
}
.top_rec2 {
  background: #9c3700;
  border-radius: 12px;
  width: 64px;
  height: 64px;
  grid-row: 2/3;
  grid-column: 9/11;
}
.top_rec3 {
  border-radius: 12px;
  width: 98px;
  height: 98px;
  background: #ff1500;
  grid-row: 4/5;
  grid-column: 11/12;
}
.top_rec4 {
  border-radius: 12px;
  width: 51px;
  height: 51px;
  background: #ff2600;
  grid-row: 7/8;
  grid-column: 2/3;
}
.top_rec5 {
  border-radius: 12px;
  width: 35px;
  height: 35px;
  background: #ff4c00;
  grid-row: 8/9;
  grid-column: 4/5;
}
.top_img2 {
  grid-row: 5/9;
  grid-column: 7/10;
}
/* Адаптивность главной секции под планщет*/
@media (max-width: 1160px) {
  .top_grid {
    max-width: 768px;
    margin: auto;
    grid-template: 2/1;
    gap: 0px;
  }
  .top_glav_disp {
    margin-top: 0px;
    grid-row: 2/3;
    height: 270px;
  }
  .top_perv_icons {
    grid-column: 1/2;
    max-width: 768px;
    margin: auto;
    padding: 0;
  }
  .top_glav_disp_p {
    font-size: 18px;
  }
  .top_glav_disp h1 {
    font-size: 26px;
  }
}
/* Конец главной секции */
/* Начало второй сукции */
.pochemy_mi {
  margin-top: 50px;
  padding-top: 37px;
  height: 429px;
  background-image: url(/img/bg-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
h2 {
  font-weight: 500;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  color: var(--contrast);
}
/* Плюсы компании (карты) */
.cards_sec_poch {
  display: flex;
  gap: 14.96px;
  align-items: center;
  margin-top: 45px;
  flex-wrap: wrap;
  justify-content: center;
}
.card_sec_poch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 19px 0;
  border-radius: 27px;
  width: 258px;
  height: 234px;
  background: #262626;
}
.card_sec_poch > p {
  min-width: 210px;
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  color: var(--contrast);
}
/* Адаптивность второй секции под планшет*/
@media (max-width: 1160px) {
  .pochemy_mi {
    height: 683px;
  }
}
