
/* section1 */
.ecology h2 {
  font-size: 35px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 7px;
  margin-top: 55px;
}
.eco_photo img {
  width: 605px;
  height: 446px;
  border-radius: 60px;
  filter: brightness(70%);
  object-fit: cover;
}
.eco_lil_photo img {
  width: 495px;
  height: 246px;
  border-radius: 60px;
  filter: brightness(70%);
  object-fit: cover;
  margin-left: 86px;
  margin-top: 35px;
}
.eco_photo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
/* section2 */
.light_grey {
  background: EFEFEF;
}
.eco2 h2 {
  color: #1b8970;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  letter-spacing: 5px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eco2 p {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 25px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  text-align: justify;
  width: 1240px;
  letter-spacing: 3px;
  line-height: 1.5;
  
}
.punkt li {
  margin-left: 50px;
  font-size: 20px;
  color: #000;
  font-family: "Roboto", sans-serif;
  display: flex;
  font-weight: normal;
  justify-content: left;
  margin-top: 15px;
  line-height: 1;
  letter-spacing: 1px;
  margin-top: 20px;
}
.punkt li img {
  width: 15px;
  height: 15px;
  margin-right: 20px;
}
.eco2 {
  margin-bottom: 90px;
}

/* section3 */
.dark_grey {
  background: #686966;
}
.safe h2 {
  font-size: 35px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 7px;
  margin-top: 55px;
}
.safe_block img {
  width: 605px;
  height: 345px;
  filter: brightness(70%);
  object-fit: cover;
  border-radius: 45px;
}
.safe_block p {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 25px;
  display: flex;
  justify-content: left;
  line-height: 1.5;
  align-items: center;
  width: 605px;
}
.safe_block {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 60px;
  margin-bottom: 90px;
}
/* section4 */
.assistance h2 {
  font-size: 35px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 7px;
  margin-top: 55px;
}
.assistance p {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  line-height: 1.5;
  width: 1290px;
  margin-top: 45px;
  letter-spacing: 1px;
  text-align: justify;
}
.assistance_blocks{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 60px;
}
.text_assistance1 {
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: -300px;
  margin-left: 300px;
  font-size: 25px;
  text-align: justify;
  width: 550px;
}
.text_assistance1 p{
  width: 550px;
  line-height: 1;
  color: #fff;
}
.assistance_first img{
  width: 605px;
  height: 345px;
  border-radius: 46px;
  filter: brightness(50%);
  object-fit: cover;
}
.text_assistance2 {
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: -100px;
  margin-left: 300px;
  font-size: 25px;
  text-align: justify;
}
.text_assistance2 p{
  width: 550px;
  line-height: 1;
  color: #fff;
}
.assistance_second img{
  width: 605px;
  height: 345px;
  border-radius: 46px;
  filter: brightness(50%);
  object-fit: cover;
}
/* .sectiom5 */
.rating h2{
  color: #1b8970;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  letter-spacing: 5px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  margin-left: 230px;
}
.rating h3{
  font-size: 25px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  letter-spacing: 7px;
  margin-top: 60px;
}
.rating img{
  width: 15px;
  height: 15px;
  margin-right: 20px;
}
.rating li{
  margin-left: 50px;
  font-size: 20px;
  color: #000;
  font-family: "Roboto", sans-serif;
  display: flex;
  font-weight: 350;
  justify-content: left;
  margin-top: 15px;
  line-height: 1;
  letter-spacing: 1px;
  margin-top: 20px;
}
.rating{
  margin-bottom: 40px;
}
.light_grey {
  background: #EFEFEF;
}








