
/* section1 */
.securities h2{
    font-size: 35px;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    letter-spacing: 7px;
    margin-top: 55px;
}
.securities h3{
    font-size: 25px;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: left;
    letter-spacing: 7px;
    margin-top: 20px;
}
.securities img{
    width: 520px;
    height: 334px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.centr{
    display: flex;
    align-items: center;
    justify-content: center;
}
.securities p{
    font-size: 20px;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: 30px;
    line-height: 25px;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

.securities li{
    font-size: 20px;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: 30px;
    line-height: 25px;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
}
.li img{
    width: 15px;
    height: 15px;
    margin-right: 40px;
}
li{
    display: flex;
    justify-content: space-between;
}


/* section2 */
.btn1{
    background: #1B8970;
    width: 381px;
    height: 195px;
    border-radius: 58px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    padding-top: 100px;
    padding-left: 20px;
}
.btn1:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
    transition: 0.5s;
}
.btn2{
    background: #686966;
    width: 381px;
    height: 195px;
    border-radius: 58px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    padding-top: 130px;
    padding-left: 20px;
}
.btn2:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
    transition: 0.5s;
}
.btn3{
    background: #457B6E;
    width: 381px;
    height: 195px;
    border-radius: 58px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    padding-top: 60px;
    padding-left: 20px;
}
.btn3:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
    transition: 0.5s;
}
.knopki a{
    color: #fff;
}
.knopki{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    margin-top: 80px;
    margin-bottom: 50px;
}
/* section3 */
.actions h2{
    font-size: 35px;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    letter-spacing: 7px;
    margin-top: 55px;
}
.actions p{
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    line-height: 1.5;
}
/* section4 */
.btn_g{
    background: #EFEFEF;
    height: 175px;
    width: 450px;
    border-radius: 48px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 500;
    padding-top: 50px;
    padding-left: 20px;
    letter-spacing: 2px;
}
.btn_g:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
    transition: 0.5s;
}
.btn_gr{
    background: #1B8970;
    color: #fff;
    width: 450px;
    height: 175px;
    border-radius: 48px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 500;
    padding-top: 50px;
    padding-left: 20px;
    letter-spacing: 2px;
    margin-left: 70px;
    margin-right: 90px;
}
.btn_gr:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
    transition: 0.5s;
}
.txt h4{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #1B8970;
}
.txt p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    line-height: 1.5;
}

.blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 50px;
}









